<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Bem-vindo ao sistema CAS_Grupo Skin Soft</title>
</head>
<body>
    <h1>Seja bem-vindo ao sistema CAS_Grupo Skin Soft!</h1>

    <p>Segue abaixo as informações para o seu primeiro login no sistema:</p>

    <p><strong>Usuário:</strong> {{ usuario.CPF }}</p>
    <p><strong>Senha:</strong> {{ usuario.SenhaProvisoria }}</p>

    <p>No seu primeiro acesso, preencha o formulário com suas informações e crie uma nova senha.</p>

    <p>Qualquer dúvida ou dificuldade, entre em contato com a pessoa que lhe passou essa mensagem.</p>
</body>
</html>
