<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Cancelamento preliminar do contrato</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    h2 {
      font-size: 22px;
      margin-bottom: 20px;
    }

    p {
      margin: 5px 0;
    }

    hr {
      border: none;
      border-top: 1px solid #ccc;
      margin: 10px 0;
    }
  </style>
</head>
<body>
  <h1>Cancelamento preliminar do contrato</h1>

  <h2>Dados do Contrato</h2>
  <p>Contrato: {{ dados.contrato }}</p>

  <h2>Itens de Cancelamento</h2>
  <ul>
    {% for item in dados.cancelamentoItems %}
      <li>
        <h3>Item: {{ item.item }}</h3>
        <p>Valor Item: R$ {{ item.valor_item }}</p>
        <p>Número de Sessões: {{ item.numero_sessoes }}</p>
        <p>Valor das Sessões: R$ {{ item.valor_sessoes }}</p>
        <p>Multa: {{ item.multa }}%</p>
        <p>Valor da Multa: R$ {{ item.valor_multa }}</p>
        <p>Cancelamento Item: R$ {{ item.calculo_cancelamento_item }}</p>
      </li>
    {% endfor %}
  </ul>

  <h2>Total do Cancelamento do Contrato</h2>
  <p>Valor das Sessões do Contrato: R$ {{ dados.valorSessoesContrato }}</p>
  <p>Valor da Multa do Contrato: R$ {{ dados.valorMultaContrato }}</p>
  <p>Valor Pago: R$ {{ dados.valorPago }}</p>
  <p>Valor do Cancelamento do Contrato: R$ {{ dados.valorCancelamentoContrato }}</p>

  <p>O cálculo preliminar de cancelamento é apenas uma estimativa inicial e pode ser ajustado ou refinado à medida que mais informações ou dados se tornem disponíveis.</p>
</body>
</html>